<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin</title>

    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<div class="container">
    <div class="card">

        <div class="card-block">
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>last name</th>
                    <th>email</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Role</th>

                </tr>

                </thead>
                <tbody>
                <tr th:each="user :${adminusers}">
                    <td th:utext="${user.getId()}">Id</td>
                    <td th:utext="${user.getName()}">Name</td>
                    <td th:utext="${user.getLastName()}">Last name</td>
                    <td th:utext="${user.getEmail()}">Email</td>
                    <td th:utext="${user.getUsername()}">Username</td>
                    <td th:utext="${user.getPassword()}">Password</td>
                    <td th:utext="${user.getRoleToString()}"> Role </td>

                    <td> <a th:href="@{/admin/user/{id}(id=${user.getId()})}"> Get user</a></td>
                </tr>

                </tbody>
            </table>

            <!--            <hr>-->
            <!--                <ul class="nav nav-pills">-->
            <!--                    <li class="nav-item"-->
            <!--                        th:each="i : ${#numbers.sequence(0, users)}"></li>-->

            <!--                </ul>-->

            <!--            </hr>-->
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<br/>

<title> New User: </title>
<a th:href="@{/admin/new}"> Create new User </a>

<br/>

<title> Logout:</title>
<a th:href="@{/logout}"> Good Bye!</a>

</body>
</html>