<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>

<body>
<!-- Top -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="color: white">
                <div class="navbar-brand">
                    <span class="font-weight-bold" id="headerMail" th:text="${user.get().email} + ' '"></span>
                    with roles:
                    <span id="headerRole" th:text="${user.get().getRoleToString()} + ' '"></span>
                </div>
            </li>
        </ul>
        <span class="navbar-text">
            <form th:method="POST" th:action="@{/logout}" style="outline: none !important">
                <input type="submit" value="Logout" style="color: darkgrey; background: none; border: none">
            </form>
    </span>
    </div>
</nav>

<br>

<!-- Page -->
<div class="container-fluid">
    <div class="row" style="height: 100vh">

        <!-- Left bar -->

        <div class="col-2 pl-0 pr-0">
            <nav class="nav flex-column nav-pills">
                <a class="nav-link active" id="showAll"
                   data-toggle="pill" href="#users">Admin</a>
                <a class="nav-link" id="showUser" data-toggle="pill" href="#userInfo"
                   role="tab" onclick="showUser()">User</a>
            </nav>
        </div>
        <script>
            function showUser() {
                const showUserURL = 'http://localhost:8080/rest/infoUser';
                fetch(showUserURL)
                    .then((res) => res.json())
                    .then((user) => {

                        let temp = "<tr>";
                        temp += `
                            <td>${user.id}</td>
                            <td>${user.name}</td>
                            <td>${user.lastName}</td>
                            <td>${user.username}</td>
                            <td>${user.email}</td>
                            <td>${user.roles.map(r => r.role.replace('ROLE_','')).join(', ')}</td>
                        `;
                        temp += "<tr>";
                        document.getElementById("userTable").innerHTML = temp;
                    })
            }
            showUser();
        </script>

        <div class="col-10 bg-light">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#users" id="usersTab">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" id="newUser"
                       href="#addUser">New user</a>
                </li>
            </ul>

            <!-- Right -->
            <div class="tab-content">

                <!-- TabUsers -->
                <div class="tab-pane active" id="users" role="tabpanel">
                    <h1 class="page-header bold">Admin panel</h1>

                    <div class="card">
                        <div class="card-header"><h5>All users</h5></div>
                        <div class="card-body bg-white">
                            <table class="table table-striped" id="allUsersTable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="usersTable">
                                </tbody>
                                <script>
                                    function getUsers() {

                                        fetch("http://localhost:8080/rest/all_users")
                                            .then((res) => res.json())
                                            .then((data) => {
                                                let temp = "";
                                                data.forEach(function (user) {

                                                    temp += `
                                                        <tr>
                                                        <td id="id${user.id}">${user.id}</td>
                                                        <td id="name${user.id}">${user.name}</td>
                                                        <td id="lastName${user.id}">${user.lastName}</td>
                                                        <td id="username${user.id}">${user.username}</td>
                                                        <td id="email${user.id}">${user.email}</td>
                                                        <td id="roles${user.id}">${user.roles.map(r => r.role.replace('ROLE_','')).join(', ')}</td>
                                                        <td>
                                                        <button class="btn btn-info btn-md" type="button"
                                                        data-toggle="modal" data-target="#editModal"
                                                        onclick="fillModal(${user.id})">Edit</button></td>
                                                        <td>
                                                        <button class="btn btn-danger btn-md" type="button"
                                                        data-toggle="modal" data-target="#deleteModal"
                                                        onclick="fillModal(${user.id})">Delete</button></td>
                                                      </tr>`;
                                                });
                                                document.getElementById("usersTable").innerHTML = temp;
                                            })
                                    }
                                    getUsers()


                                    function fillModal(id) {
                                        fetch("http://localhost:8080/rest/findUser/" + id, {
                                            headers: {
                                                'Accept': 'application/json',
                                                'Content-Type': 'application/json'
                                            }
                                        }).then(res => {
                                            res.json().then(user => {
                                                document.getElementById('id').value = user.id;
                                                document.getElementById('editName').value = user.name;
                                                document.getElementById('editLastName').value = user.lastName;
                                                document.getElementById('editUsername').value = user.username;
                                                document.getElementById('editEmail').value = user.email;
                                                document.getElementById('editPassword').value = user.password;

                                                document.getElementById('delId').value = user.id;
                                                document.getElementById('delName').value = user.name;
                                                document.getElementById('delLastName').value = user.lastName;
                                                document.getElementById('delUsername').value = user.username;
                                                document.getElementById('delEmail').value = user.email;
                                                document.getElementById('delPassword').value = user.password;
                                            })
                                        });
                                    }
                                    fillModal(id)


                                </script>

                            </table>
                        </div>
                    </div>
                </div>

                <!---EditModal-------->

                <div class="modal fade" id="editModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>Edit user</h3>
                                <button type="button" class="close" data-dismiss="modal">x</button>
                            </div>
                            <div class="modal-body">
                                <div class="row justify-content-center align-items-center">
                                    <div class="form-group align-content-center text-center">
                                        <label for="id"><b>Id</b></label>
                                        <input class="form-control card-form text-center" type="text" name="id"   id="id" readonly>
                                        <label for="editName"><b>First name</b></label>
                                        <input class="form-control text-center" type="text" name="username"   id="editName">
                                        <label  for="editLastName"><b>Last name</b></label>
                                        <input class="form-control text-center" type="text" name="lastName"  id="editLastName">
                                        <label for="editUsername"><b>Username</b></label>
                                        <input class="form-control text-center" type="text" name="age"  id="editUsername">
                                        <label for="editEmail"><b>Email</b></label>
                                        <input class="form-control text-center" type="text" name="email" id="editEmail">
                                        <label for="editPassword"><b>Password</b></label>
                                        <input class="form-control text-center" type="text" name="password" id="editPassword">
                                        <div class="pb-2">
                                        </div>
                                        <div class="form-group">
                                            <label><b>Role</b></label>
                                            <select multiple class="form-control form-control-sm" name="editRole"
                                                    size=2 id="editRole">
                                                <option value="ADMIN">ADMIN</option>
                                                <option value="USER">USER</option>
                                            </select>
                                        </div>
                                        <div id="aaa" class="text-right">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button onclick="btnEdit()" class="btn btn-primary" >Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <script>
                               function btnEdit() {

                                   let user = {
                                       id: document.getElementById('id').value,
                                       name: document.getElementById('editName').value,
                                       lastName: document.getElementById('editLastName').value,
                                       username: document.getElementById('editUsername').value,
                                       email: document.getElementById('editEmail').value,
                                       password: document.getElementById('editPassword').value,
                                       roles: selectRole(Array.from(document.getElementById("editRole").selectedOptions)
                                           .map(r => r.value))
                                   }

                                   fetch("http://localhost:8080/rest/edit", {
                                       method: "PUT",
                                       headers: {
                                           'Accept': 'application/json',
                                           'Content-Type': 'application/json'
                                       },
                                       body: JSON.stringify(user)

                                   })
                                   $("#editModal .close").click();
                                   resetTable();
                               }

                           </script>

                        </div>
                    </div>
                </div>

                <!---DelModal-------->
                <div class="modal fade" id="deleteModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>Delete user</h3>
                                <button type="button" class="close" data-dismiss="modal">x</button>
                            </div>
                            <div class="modal-body">
                                <div class="row justify-content-center align-items-center">
                                    <div class="form-group align-content-center text-center">
                                        <label for="delId"><b>Id</b></label>
                                        <input class="form-control card-form text-center" type="text" name="id"   id="delId" readonly>
                                        <label for="delName"><b>First name</b></label>
                                        <input class="form-control text-center" type="text" name="name" id="delName" readonly>
                                        <label  for="delLastName"><b>Last name</b></label>
                                        <input class="form-control text-center" type="text" name="lastName"  id="delLastName" readonly>
                                        <label for="delUsername"><b>Username</b></label>
                                        <input class="form-control text-center" type="text" name="username"  id="delUsername" readonly>
                                        <label for="delEmail"><b>Email</b></label>
                                        <input class="form-control alert-warning text-center" type="text" name="email" id="delEmail" readonly>
                                        <label for="delPassword"><b>Password</b></label>
                                        <input class="form-control text-center" type="text" name="password" id="delPassword" readonly>
                                        <div class="pb-2">
                                        </div>
                                        <div class="form-group">
                                            <label><b>Role</b></label>
                                            <select multiple class="form-control form-control-sm" name="deleteRole"
                                                    size=2 id="deleteRole" readonly>
                                                <option value="ADMIN">ADMIN</option>
                                                <option value="USER">USER</option>
                                            </select>
                                        </div>
                                        <div class="text-right">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" onclick="btnDelete()"  >Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>

                                function btnDelete() {
                                    fetch("http://localhost:8080/rest/delete/" + document.getElementById('delId').value, {
                                        method: 'DELETE',
                                        headers: {
                                            'Accept': 'application/json',
                                            'Content-Type': 'application/json'
                                        },
                                    })

                                    $("#deleteModal .close").click();
                                    resetTable();
                                }

                            </script>

                        </div>
                    </div>
                </div>


                <!--UserInfo-->
                <div class="tab-pane" id="userInfo" role="tabpanel">
                    <h1 class="page-header bold">User information page</h1>

                    <div class="card">
                        <div class="card-header">
                            <h5>About user</h5>
                        </div>
                        <div class="card-body bg-white">

                            <table class="table table-striped" id="userInfoTable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody id="userTable">
                                </tbody>
                            </table>
<!--                            <script>-->

<!--                                function showUser() {-->
<!--                                    const showUserURL = 'http://localhost:8080/rest/infoUser';-->
<!--                                    fetch(showUserURL)-->
<!--                                        .then((res) => res.json())-->
<!--                                        .then((user) => {-->

<!--                                            let temp = "<tr>";-->
<!--                                            temp += `-->
<!--                                                <td>${user.get().id}</td>-->
<!--                                                <td>${user.get().name}</td>-->
<!--                                                <td>${user.get().lastName}</td>-->
<!--                                                <td>${user.get().username}</td>-->
<!--                                                <td>${user.get().email}</td>-->
<!--                                                <td>${user.get().roles.map(r => r.role.replace('ROLE_','')).join(', ')}</td>-->
<!--                                            `;-->
<!--                                            temp += "<tr>";-->
<!--                                            document.getElementById("userTable").innerHTML = temp;-->
<!--                                        })-->
<!--                                }-->
<!--                                showUser();-->
<!--                            </script>-->

                        </div>
                    </div>
                </div>

                <!-- AddUser -->
                <div class="tab-pane fade" id="addUser" role="tabpanel">
                    <h1 class="page-header bold">Admin panel</h1>
                    <h5 class="card-header">Add new user</h5>
                    <div class="container bg-white">
                        <div class="form-group col-md-3 mx-auto text-center">

                            <br>

                            <form name="addUserForm" id="newUserForm">
                                <div class="container">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="text-center" >
                                            <label for="addName"><b>First name</b></label>
                                            <input  class="form-control alert-warning" type="text" id="addName">
                                            <label for="addLastName"><b>Last name</b></label>
                                            <input class="form-control alert-warning" type="text" id="addLastName">
                                            <label for="addUsername"><b>Username</b></label>
                                            <input class="form-control" type="text" id="addUsername">
                                            <label for="addEmail"><b>Email</b></label>
                                            <input class="form-control alert-warning" type="text"   id="addEmail">
                                            <label for="addPassword"><b>Password</b></label>
                                            <input class="form-control" type="text"   id="addPassword">
                                            <div class="pb-2"></div>

                                            <div class="form-group">
                                                <label><b>Role</b></label>
                                                <select multiple class="form-control form-control-sm" name="addRole"
                                                        size=2 id="addRole">
                                                    <option value="ADMIN">ADMIN</option>
                                                    <option value="USER">USER</option>
                                                </select>
                                            </div>

                                            <button id="butt" type="submit" onclick="addNewUser()" class="btn btn-success">Add new user</button>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <script>

                                document.getElementById("newUserForm")
                                    .addEventListener("submit", newUserForm);

                                function newUserForm(el){
                                    el.preventDefault();

                                    let name = document.getElementById("addName").value;
                                    let lastName = document.getElementById("addLastName").value;
                                    let username = document.getElementById("addUsername").value;
                                    let email = document.getElementById("addEmail").value;
                                    let password = document.getElementById("addPassword").value;
                                    let roles = selectRole(Array.from(document.getElementById("addRole").selectedOptions)
                                        .map(r => r.value));

                                    fetch("http://localhost:8080/rest/addUser", {
                                        method: "POST",
                                        headers: {
                                            'Accept': 'application/json',
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({
                                            name: name,
                                            lastName: lastName,
                                            username: username,
                                            email: email,
                                            password: password,
                                            roles: roles
                                        })
                                    })
                                        .then(() => {
                                            document.getElementById("usersTab").click();
                                            getUsers();
                                            document.getElementById("newUserForm").reset();
                                        })
                                }
                            </script>


                        </div>
                    </div>
                </div>
                <!------------->

            </div>

        </div>

    </div>

</div>

<script>
    function selectRole(r) {
        let roles = [];
        if (r.indexOf("USER") >= 0) {
            roles.push({"id": 2});
        }
        if (r.indexOf("ADMIN") >= 0) {
            roles.push({"id": 1});
        }
        return roles;
    }

    function resetTable() {
        let table = document.getElementById('usersTable')
        if (table.rows.length > 1) {
            table.deleteRow(1);
        }
        setTimeout(getUsers, 140)
    }

</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>