<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Admin panel</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item" style="color: darkgray">
                   <div class="navbar-brand">
                       <span class="font-weight-bold" th:text="${users.get().email} + ' '"></span>
                       with roles:
                       <span th:text="${users.get().getRoleToString()} + ' '"></span>
                   </div>
               </li>
            </ul>
            <span class="navbar-text">
                <form th:method="POST" th:action="@{/logout}" style="...">
                    <input type="submit" value="logout" style="...">
                </form>
            </span>
        </div>
    </nav>
</header>

<div class="row">
    <div class="col-md-3">
            <div class="d-flex flex-column p-3 text-white bg-dark" style="width: 280px;">
                <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="/practice" class="nav-link active">
                                <svg class="bi me-2" width="16" height="16"></svg>
                                Admin
                            </a>
                        </li>
                        <li>
                            <a href="/userpage" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"></svg>
                                User
                            </a>
                        </li>
                    </ul>
                <hr>
            </div>
    </div>


        <div class="col-md-8">
            <div class="container align-content-center mt-1">

                <div>
                    <h1 class="font-weight-bolder">Admin panel</h1>
                </div>

                <div class="card">
                    <div class="card-block">

                        <div>
                            <h3 class="font-weight-normal">All users</h3>
                        </div>

                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Last name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="user :${users}">
                                    <td th:utext="${users.get().getId()}">Id</td>
                                    <td th:utext="${users.get().getName()}">Name</td>
                                    <td th:utext="${users.get().getLastName()}">Last name</td>
                                    <td th:utext="${users.get().getEmail()}">Email</td>
                                    <td th:utext="${users.get().getRoleToString()}"> Role </td>

                                    <td> <button class="btn btn-primary" th:href="@{/admin/user/{id}(id=${users.get().getId()})}"> Get user </button></td>
                                    <td> <button class="btn btn-danger" th:method="POST" th:action="@{/admin/user/{id}/delete(id=${users.get().getId()})}"> Delete user </button></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>