<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Hello, User</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="color: white" content="viewUserInfo()">
                <div class="navbar-brand">
                    <span class="headerEmail" style="color: white"></span>
                    <span class="headerRole" style="color: white"></span>
                </div>
                <script>
                    async function viewUserInfo(){
                        fetch("http://localhost:8080/rest/infoUser")
                            .then((res) => res.json())
                            .then((user) => {
                                $('.headerEmail').text(user.email);
                                $('.headerRole').text('with roles: ' + user.roles.map(r => r.role.replace('ROLE_', '')).join(', '));
                            })
                    }
                    viewUserInfo();
                </script>
            </li>
        </ul>
        <span class="navbar-text">
            <form th:method="POST" th:action="@{/logout}" style="outline: none !important">
                <input type="submit" value="Logout" style="color: darkgrey; background: none; border: none">
            </form>
        </span>
    </div>
</nav>

<div class="tab-pane active" id="users" role="tabpanel">
    <h1 class="page-header bold">Admin panel</h1>

    <div class="card">
        <div class="card-header"><h5>All users</h5></div>
         <div class="card-body bg-white">
             <table class="table table-striped" id="allUsersTable">
                 <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>

                    </tr>

                </thead>
                <tbody id="usersTable">

                </tbody>
            </table>
            <script>
                function showUser() {
                    const showUserURL = 'http://localhost:8080/rest/infoUser';
                    fetch(showUserURL)
                        .then((res) => res.json())
                        .then((user) => {

                            let temp = "<tr>";
                            temp += `
                                <td>${user.id}</td>
                                <td>${user.name}</td>
                                <td>${user.lastName}</td>
                                <td>${user.username}</td>
                                <td>${user.email}</td>
                                <td>${user.roles.map(r => r.role.replace('ROLE_','')).join(', ')}</td>
                            `;
                            temp += "<tr>";
                            document.getElementById("usersTable").innerHTML = temp;
                        })
                    }
                showUser();
            </script>
        </div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>